<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>       
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/hp3?zeroDateTimeBehavior=convertToNull</property>
    <property name="connection.username">root</property>
    <property name="connection.password">'asd'</property>
    <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="show_sql">true</property>
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    
     <mapping class="com.rns.healthplease.web.dao.domain.Users"/>
     <mapping class="com.rns.healthplease.web.dao.domain.Users1"/>
     <mapping class="com.rns.healthplease.web.dao.domain.Appointments"/>
     <mapping class="com.rns.healthplease.web.dao.domain.AppoinAddresses"/>
     <mapping class="com.rns.healthplease.web.dao.domain.Locations"/>
     <mapping class="com.rns.healthplease.web.dao.domain.AppointmentStatus"/>
     <mapping class="com.rns.healthplease.web.dao.domain.LabLocations"/>
     <mapping class="com.rns.healthplease.web.dao.domain.Labs"/>
     <mapping class="com.rns.healthplease.web.dao.domain.PaymentStatus"/>
     <mapping class="com.rns.healthplease.web.dao.domain.Slabs"/>
     <mapping class="com.rns.healthplease.web.dao.domain.Slots"/>
     <mapping class="com.rns.healthplease.web.dao.domain.Tests"/>
     <mapping class="com.rns.healthplease.web.dao.domain.TestLabs"/>
     <mapping class="com.rns.healthplease.web.dao.domain.LabBlockedSlots"/>
     <mapping class="com.rns.healthplease.web.dao.domain.LabActiveDaysStatus"/>
     <mapping class="com.rns.healthplease.web.dao.domain.Groups"/>
      <mapping class="com.rns.healthplease.web.dao.domain.AppointmentTests"/>
  </session-factory>
</hibernate-configuration>